# Database configuration
# Local SQLite fallback: leave DATABASE_URL empty
# PostgreSQL: postgres://user:password@host:port/dbname
DATABASE_URL=postgres://user:password@host:port/dbname

# App Secrets
FLASK_SECRET_KEY=super_secret_key_win_asesores

# Server Port
PORT=5000
